body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #121212;
  color: #f1f1f1;
}
.filter-container {
  margin-bottom: 20px;
}

table tr td:nth-child(4),
table th:nth-child(4) {
color: gold;
}

table tr td:nth-child(5),
table th:nth-child(5) {
color: green;
}

table tr td:nth-child(6),
table th:nth-child(6) {
color: lightblue;
}

table tr td:nth-child(7),
table th:nth-child(7) {
color: red;
}

table tr td:nth-child(8),
table th:nth-child(8) {
color: orange;
border-right: 4px solid rgb(77, 77, 77);
}

table tr td:nth-child(10),
table th:nth-child(10) {
color: rgb(191, 18, 191);;
}

table tr td:nth-child(11),
table th:nth-child(11) {
color: gold;
}

table tr td:nth-child(12),
table th:nth-child(12) {
color: green;
}

table tr td:nth-child(13),
table th:nth-child(13) {
color: lightblue;
}

table tr td:nth-child(14),
table th:nth-child(14) {
color: red;
}

table tr td:nth-child(15),
table th:nth-child(15) {
color: orange;
}

table th, table td{
    border: 1px solid rgba(196, 196, 196, 0.175);
}

table th{
    background-color: rgb(57, 57, 57);
    color: white;
}

table{
    padding-top: 5px;
}

a{
  color: #000;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

tbody tr:nth-child(even) {
  background-color: #202020 !important;
}

#myTable_length label select{
    background: #b2b2b2;
}
#myTable_filter label input{
    background: #b2b2b2 !important;
}

#resetFilters{
    background-color: #630000;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#resetFilters:hover{
    background-color: #800000;
}

th.filtered {
  background-color: #787878;
  color: #000;
}
